.component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component h5 {
  font-size: 2rem;
  font-family: var(--header-font);
}

.title {
  font-size: 1.4rem;
  font-family: var(--header-font);
}

.location {
  font-family: var(--body-font);
  font-size: 1.25rem;
  margin: 3px 0px;
}

.date {
  font-family: var(--body-font);
  font-size: 1.25rem;
  text-align: end;
}

.column,
.columnAlt {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  mix-blend-mode: multiply;
}

.column {
  color: white;
}

.column::before,
.columnAlt::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.column::before {
  background: rgb(110, 110, 110);
}

.columnAlt::before {
  background: var(--white-color);
}

.column li,
.columnAlt li {
  list-style: none;
  font-family: var(--alternate-font);
  padding: 10px;
}

.column li:last-child,
.columnAlt li:last-child {
  border: none;
}

.column li {
  border-bottom: solid 1px white;
}

.columnAlt li {
  border-bottom: solid 1px black;
}

.centerCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 30px;
  font-family: var(--body-font);
}

.link:hover {
  opacity: 0.75;
}

.link:active {
  transform: translateX(5px) translateY(3px);
}
