server{
    # listen to the port defined by heroku
    listen $PORT default_server;
    root /build;

    # serve static files for request made to
    location / {
        try_files $uri /index.html;
    }

    location /api {
        proxy_pass "https://tctrio-backend.herokuapp.com/";
    }
}
