.componentMobile {
  display: flex;
}

.socialMobile {
  position: relative;
  margin: 10px 12.5px 10px 12.5px;
  width: auto;
  height: 1.85rem;
}

.componentDesktop {
  display: flex;
  flex-direction: column;
  background: var(--bwite-color);
  border-radius: 5px;
}

.socialDesktop {
  position: relative;
  margin: 15px 10px;
  width: 2.2rem;
  height: auto;
}

.link {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 0%;
}

.icon {
  height: 100%;
  width: 100%;
}

.social:hover {
  opacity: 0.5;
}
