/* Common component class for navbar */
.component {
  position: fixed;
  width: 100%;
  height: var(--menu-height);
  background: var(--primary-color);

  z-index: 1;
}

/* The logo on the nav bar */
.signature {
  position: absolute;
  top: -13px;
  left: 10px;
  max-height: 100px;
  max-width: 150px;
}

/* Menu (in the navbar for desktop) */
.menuLinks {
  text-align: center;
  color: white;

  transition: opacity 0.4s ease;
  opacity: 0;
}

.menuLinks li {
  list-style: none;
}

.listItem {
  padding: 1rem;
}

.link {
  font-family: var(--header-font);
  font-size: 1.6rem;
  transition: color 0.4s ease;
}

.link:hover {
  opacity: 0.5;
}

/* The invisible toggle button */
.toggler {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  width: calc(var(--menu-height) - 20px);
  height: calc(var(--menu-height) - 10px);
  opacity: 0;
}

/* Visual for the hamburger menu (contains the lines) */
.hamburger {
  display: flex;
  align-items: center;
  visibility: visible;
  position: absolute;
  top: 5.5px;
  right: 30px;
  width: 40px;
  height: 50px;

  z-index: 1;
}

/* The middle hamburger line */
.lines {
  visibility: visible;
  position: relative;
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.4s ease;
}

/* Hamburger lines - Top & Bottom */
.lines::before,
.lines::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.4s ease;
}

/* Move one of the hamburger lines */
.lines::after {
  top: 10px;
}

.overlay {
  visibility: visible;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  visibility: hidden; /* hidden by default */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* The screen overlay when the menu is opened (mobile) */
.circle {
  background: var(--primary-color);
  border-radius: 50%;
  min-width: 200vh;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.circle > .signature {
  position: relative;
  max-height: 15%;
  max-width: 15%;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-bottom: 20px;
}

/* For mobile */
.whiteLine {
  width: 50vw;
  height: 1px;
  background-color: white;
  opacity: 0.32;
  margin: 10px 0px;
}

/* Animation triggers */
.toggler:checked ~ .signature {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.toggler:not(:checked) ~ .signature {
  opacity: 1;
  transition: opacity 0.4s ease 0.1s;
}

/* Toggler rotate the middle bar */
.toggler:checked ~ .hamburger > .lines {
  transform: rotate(135deg);
  background-color: white;
}

/* Toggler collapse the outer bars and rotate */
.toggler:checked ~ .hamburger > .lines:before,
.toggler:checked ~ .hamburger > .lines:after {
  top: 0;
  transform: rotate(90deg);
  background-color: white;
}

/* Toggler show the menu (mobile) */
.toggler:checked ~ .overlay {
  visibility: visible;
}
.toggler:checked ~ .overlay > .circle {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

/* Get the menu list to be visible */
.toggler:checked ~ .overlay > .circle > .menuLinks {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.toggler:checked ~ .overlay > .circle > .signature {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
